.lightModeBackground {
    -fx-background-color: linear-gradient(to bottom right, darkgrey, white);
}

.darkModeBackground {
    -fx-background-color: linear-gradient(to bottom right, black, rgb(40, 40, 43));
}

/* Normal state */
.my-node {
    -fx-background-color: rgb(48, 48, 48);
}

/* Hover state */
.my-node:hover {
    -fx-background-color: rgb(80, 80, 80);
}