.list-cell:even {
    -fx-background-color: rgb(20, 20, 20);
}

.list-cell:odd {
    -fx-background-color: rgb(10, 10, 10);
}

.list-cell:selected {
    -fx-background-color: lightblue;
}

.list-view .placeholder {
    -fx-background-color: rgb(10, 10, 10);
}

#rezultat {
    -fx-text-fill: white;
}

#datum {
    -fx-text-fill: rgb(150, 150, 150);
}
